[*.cs]
dotnet_diagnostic.RCS1225.severity = silent
dotnet_diagnostic.IDE0290.severity = silent
dotnet_diagnostic.RCS1021.severity = silent
dotnet_diagnostic.IDE0028.severity = silent
dotnet_diagnostic.RCS1037.severity = silent
dotnet_diagnostic.IDE0161.severity = silent
dotnet_diagnostic.IDE0300.severity = silent
dotnet_diagnostic.CA1861.severity = silent
dotnet_diagnostic.CDT1003.severity = silent
dotnet_diagnostic.CA1862.severity = silent
